<!-- We add post and later in the url we can see (?_method=DELETE) which tells our server we want to delete and we have to do it through a form instead of a simple anchor tag -->
<form method="POST" action="<%= url %>?_method=DELETE">
  <button type="submit">Delete</button>
</form>
